<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402666529565-ej7pjmhq734bpbin7sf7dkk2c6r70opb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402666529565-ej7pjmhq734bpbin7sf7dkk2c6r70opb</string>
	<key>API_KEY</key>
	<string>AIzaSyAoFvdBJ6Nek4pEB61swu0aQxvBK_NjTo8</string>
	<key>GCM_SENDER_ID</key>
	<string>402666529565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andresmchd.FinalProject.LoginPage</string>
	<key>PROJECT_ID</key>
	<string>loginpage-66b08</string>
	<key>STORAGE_BUCKET</key>
	<string>loginpage-66b08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402666529565:ios:6e220929327b5f9a7177f4</string>
</dict>
</plist>